* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  font: 1rem Helvetica, Arial, sans-serif;
  background-color: #F9F7F7;
}

input,
textarea,
button {
  border: none;
  outline: none;
  font: 1rem Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}
