.folder {
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  transition: .3s;
  overflow: hidden;
  color: fade-out(#fff, .25);
  cursor: pointer;

  &:not(:last-of-type) {
    margin-bottom: 1px;
  }

  &:hover,
  &.is-active {
    color: #fff;
    background-color: #117fa3;
  }

  .svg-inline--fa {
    margin-right: 8px;
    color: $fadeWhite;
  }
}

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  display: none;
}

.is-display {
  display: block;
}
